{% extends "base/base.html.twig" %}
{% block title %}Hallo!!{% endblock %}
{% block body %}
    <h1>TODO List</h1>
    <ul>
        <li>Регистрация/авторизация пользователей</li>
        <li>Создание магазина</li>
        <li>Создание блога</li>
        <li>Свой дизайн</li>
        <li>Управление товарами</li>
        <li>Реклама</li>
        <li>Корзина</li>
        <li>Заказ</li>
        <li>Внутренняя почта</li>
        <li>Склад</li>
        <li>Акции</li>
    </ul>


{% endblock %}