<?php
/**
 * Blank template without any containers inside
 */


?>
<img src="/amf-logo.png" align="left" hspace="16" vspace="0">
<h1>Blank page</h1>
It seems that required View not found <br> <br>
<?php
echo $error_file; ?>